<link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet/leaflet.css' )}}" />
<script src="{{ url_for('static', filename='lib/leaflet/leaflet.js' )}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/L.OSGraticule.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.snogylop.min.js' )}}"></script>