<p class="mt2 mb5 gray f5">Search for an area name, or enter a postcode or latitude and longitude.</p>
<form action="{{ url_for('search.search_index') }}">
    <div class="cf mt3 flex">
        {{ input(type="text", name="q", id="q", placeholder="Summershire OR AB12 3CD OR 51.50,-0.14", order="first", value=(q or '')) }}
        {{ input(type="submit", id="search_button", value="Search", order="last") }}
    </div>
</form>
<a class="link gray bn button-reset underline dim db pa0 mt2 bg-inherit f6" id="get_current_latlong"
    onclick="get_latlon()" href="#">Use your location</a>