{% from '_utils.html.j2' import input %}

{% set title = 'About this site' %}
{% extends "base.html.j2" %}
{% block content %}
<section class="section entry-content measure-wide" id="about">
  <p class="normal">
    This site presents data on UK postcodes and geographical areas, based on open data released by
    the <a href="" class="link blue underline-hover">Office for National Statistics</a> and
    <a href="" class="link blue underline-hover">Ordnance Survey</a>.
  </p>
  <p class="normal">
    It is intended to help the process of enhancing existing data sets, for example by
    allowing someone to lookup which local authority a postcode is in.
  </p>
  <p class="normal">
    We are currently working on a new version of this site, which will be released soon.
    The new version will be faster, more accurate, and will include more data.
    It will also include a paid version of the API, with guaranteed uptime and
    a higher rate limit.
  </p>
  <p class="normal">
    If you have any questions, please contact us at
    <a href="mailto:info@findthatpostcode.uk" class="link blue underline-hover">info@findthatpostcode.uk</a>
  </p>
  <h2 class="f2-ns f3 header-font normal" id="data-sources">Data sources</h2>
  <p>Data used under the <a class="link blue underline-hover"
      href="https://www.ons.gov.uk/methodology/geography/licences">Open Government Licence</a>
    unless otherwise stated.</p>
  <ul>
    <li><strong>Postcode data</strong>: <a class="link blue underline-hover"
        href="https://geoportal.statistics.gov.uk/search?q=PRD_NSPL&sort=Date%20Created%7Ccreated%7Cdesc">NSPL</a>
    </li>
    <li><strong>Area data</strong>: <a class="link blue underline-hover"
        href="https://geoportal.statistics.gov.uk/search?q=PRD_CHD&sort=Date%20Created%7Ccreated%7Cdesc">Code
        History Database</a> and
      <a class="link blue underline-hover"
        href="https://geoportal.statistics.gov.uk/search?q=PRD_RGC&sort=Date%20Created|created|desc">Register
        of Geographic Codes</a>
    </li>
    <li><strong>Boundary data</strong>: <a class="link blue underline-hover"
        href="http://geoportal.statistics.gov.uk/datasets?q=Latest_Boundaries&sort_by=name&sort_order=asc">ONS
        Geoportal</a></li>
    <li><strong>Placenames</strong>: <a class="link blue underline-hover"
        href="https://geoportal.statistics.gov.uk/search?q=PRD_IPN&sort=Date%20Created|created|desc">Index
        of Place Names in Great Britain</a></li>
    <li><strong>MSOA names</strong>: <a class="link blue underline-hover"
        href="https://houseofcommonslibrary.github.io/msoanames/">House of Commons Library</a> (<a
        class="link blue underline-hover"
        href="https://www.parliament.uk/site-information/copyright/open-parliament-licence/">Open Parliament
        Licence</a>)</li>
    <li><strong>Index of Multiple Deprivation (2025)</strong>: <a class="link blue underline-hover"
        href="https://www.gov.uk/government/statistics/english-indices-of-deprivation-2025">Ministry of Housing,
        Communities and Local Government</a></li>
  </ul>
  <p>
    <a href="https://www.ons.gov.uk/methodology/geography/licences" class="link blue underline-hover">Postcode data from
      ONS used under Open Government License</a><br>
    Contains OS data © Crown copyright and database right {{now.year}} <br>
    Contains Royal Mail data © Royal Mail copyright and database right {{now.year}} <br>
    Contains National Statistics data © Crown copyright and database right {{now.year}}
  </p>
  <p>
    Northern Ireland postcodes are included based on the
    <a href="https://www.ons.gov.uk/methodology/geography/licences" class='link blue underline-hover'>Northern Ireland
      End User Licence</a>.
    The licence covers internal use of the data. Commercial use may require additional permission.
  </p>
</section>

{% include "_api.html.j2" %}

<section class="section entry-content measure-wide" id="privacy">
  <h2>Privacy</h2>
  <p>
    To get critical information about the behavior of our visitors, we use
    <a href="https://simpleanalytics.com" target="_blank">Simple Analytics</a>. This
    analytics software gives us insight about our visitors only in general, but not
    about individuals, as it does not track visitors and does not store any
    personal identifiable information.
  </p>
  <p>
    <a href="https://docs.simpleanalytics.com/what-we-collect" target="_blank">Go
      to their documentation</a> to find out what Simple Analytics collects (and most
    importantly what they don't).
  </p>
  <p>
    We also serve ads using <a href="https://www.ethicalads.io/">Ethical Ads</a>.
    Ethical Ads does not collect personal information as part of serving ads.
  </p>
</section>
{% endblock %}