{% from '_utils.html' import info_block %}
{% set title = 'Add fields to CSV' %}
{% extends "base.html" %}

{% block headscripts %}
<script src="{{ url_for('static', filename='papaparse/papaparse.min.js') }}"></script>
<script src="{{ url_for('static', filename='crypto-js/core.min.js') }}"></script>
<script src="{{ url_for('static', filename='crypto-js/md5.min.js') }}"></script>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
  <div class="columns">
    <div class="fl w-60-l pr2-l">
      <div class="content measure">
        <p>Add geographical data to a CSV file by looking it up from a postcode column</p>
        <p>The file should be separated by commas (<code>,</code> - not semicolons or tabs)
        and the first row should contain the column names.</p>
      </div>
      {% call info_block("CSV file") %}
        <label class="file-label">
          <input class="file-input" type="file" name="csvfile" id="csvfile">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name db code pa2 bg-light-gray mt2 measure" id="csvfilename"></span>
        </label>
        <div class="file has-name is-fullwidth">
        </div>
        <p class="gray f6">Maximum file size 5MB</p>
      {% endcall %}

      <div class="field dn pa2 bg-light-gray mb3" id="csvpreview">
        <label class="mh0 mt0 mb2 header-font b">CSV Preview</label>
        <table class="table f6"></table>
      </div>
      <div class="field">
        <label class="mh0 mt0 mb2 header-font b">Name of column containing postcodes</label>
        <p class="control">
          <input class="f6 f5-l input-reset ba b--black-20 near-black bg-white pa3 lh-solid w5 br2-ns" type="text" name="column_name" id="column_name" value="postcode">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="f6 f5-l button-reset bn pv3 ph4 b tc bg-animate bg-yellow dim near-black pointer br2-ns" type="submit" value="Upload" id='fetch_postcodes' />
        </p>
      </div>
    </div>
    <div class="fl w-40-l pl3-l">
      <div class="field">
        <label class="mh0 mt0 mb2 header-font b">Fields to add</label>
        <p class="control f6">
          <table class="table f6">
            <tbody>
              <tr>
                <th>Basic fields</th>
                <th>Code <input type="checkbox" id="select_all_codes" title="Select all code fields" /></th>
                <th>Name <input type="checkbox" id="select_all_names" title="Select all name fields" /></th>
              </tr>
              {% for b in basic_fields %}
              <tr>
                <td>{{b[1]}}</td>
                <td><input type="checkbox" name="fields" value="{{b[0]}}"
                  {% if b[0] in default_fields %}
                  checked="checked"
                  {% endif %}
                  ></td>
                <td>
                  {% if b[2] %}
                  <input type="checkbox" name="fields" value="{{b[0]}}_name"
                    {% if '%s_name' % b[0] in default_fields %}
                    checked="checked"
                    {% endif %}
                  >
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              <tr>
                <th>Stats fields</th>
                <th></th>
                <th></th>
              </tr>
              {% for b in stats_fields %}
              <tr>
                <td>{{b[1]}}</td>
                <td><input type="checkbox" name="fields" value="{{b[0]}}"
                  {% if b[0] in default_fields %}
                  checked="checked"
                  {% endif %}
                  ></td>
                <td>
                </td>
              </tr>
              {% endfor %}
            {% for i in key_area_types %}
              <tr>
                <th>{{ i[0] }} areas</th>
                <th></th>
                <th></th>
              </tr>
              {% for area in i[1] %}
                {% for area_type in area_types %}
                  {% if area_type[0] == area %}
              <tr>
                <td>
                  {{ area_type[2] }}
                  {% if result.get(area) %}
                  <small> [{{ "{:,.0f}".format(result.get(area)) }}]</small>
                  {% endif %}
                </td>
                <td><input type="checkbox" name="fields" value="{{area}}"
                  {% if area in default_fields %}
                  checked="checked"
                  {% endif %}
                  ></td>
                <td><input type="checkbox" name="fields" value="{{area}}_name"
                  {% if "%s_name" % area in default_fields %}
                  checked="checked"
                  {% endif %}
                  ></td>
              </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block bodyscripts %}
<script>
var hash_url = {{ url_for('postcodes.get_postcode_by_hash', hash='xxx', _external=true)|tojson }};
</script>
<script src="{{ url_for('static', filename='csv.js') }}"></script>
{% endblock %}