{% macro display_area(area) %}
<div class="control">
  <div class="tags has-addons">
    {% if area.found and area.attributes %}
    <a href="{{ url_for('areas.get_area', areacode=area.id, filetype='html') }}" class='tag is-info'>
      {{ area.attributes.name }}
      [{{ area.id }}]
    </a>
    {% if area.relationships.areatype %}
    <a href="{{ url_for('areatypes.get_areatype', areacode=area.relationships.areatype.id, filetype='html') }}" class='tag'>
      {{ area.relationships.areatype.attributes.name }}
    </a>
    {% endif %}
    {% else %}
    <span class='tag'>
      {{ area.id }}
    </span>
    {% endif %}
  </div>
</div>
{% endmacro %}


{% set includes = ['leaflet'] %}
{% set title = "{} - {}".format(result.attributes.name, result.id) %}
{% set subtitle = result.relationships.areatype.attributes.name %}
{% set example_postcodes = result.relationships.example_postcodes %}
{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column">
    <figure>
      <div id="postcode-map" style="height:500px;"></div>
    </figure>
    <br>
  </div>
  <div class="column">
    {% if result.attributes.has_boundary %}
    <div class="clearfix">
      <a href="{{ url_for('areas.get_area', areacode=result.id, filetype='geojson') }}" class="is-pulled-right button is-link">Boundary (geoJSON)</a>
    </div>
    {% endif %}
    <table class="table is-fullwidth">
      {% if example_postcodes %}
      <tr>
        <td>Example postcodes</td>
        <td>
          <div class="tags">
          {% for i in example_postcodes[0:5] %}
          <a href='/postcodes/{{ i["id"] }}.html' class='tag'>{{ i.id }}</a>
          {% endfor %}
          </div>
        </td>
      </tr>
      {% endif %}

      {% if result.relationships.parent %}
      <tr>
        <td>Parent area</td>
        <td>
          {{ display_area(result.relationships.parent) }}
        </td>
      </tr>
      {% endif %}

      {% if result.relationships.children and result.attributes.child_count %}
      <tr>
        <td>Child area{% if result.attributes.child_count > 1 %}s{% endif %}</td>
        <td>
          <p>{{ result.attributes.child_count }} area{% if result.attributes.child_count > 1 %}s{% endif %}</p>
          <div class="field is-grouped is-grouped-multiline">
          {% for a in result.relationships.children %}
          {{ display_area(a) }}<br>
          {% endfor %}
          </div>
        </td>
      </tr>
      {% endif %}

      {% if result.relationships.predecessor %}
      <tr>
        <td>Predecessor area{% if result.relationships.predecessor|length > 1 %}s{% endif %}</td>
        <td>
          <div class="field is-grouped is-grouped-multiline">
          {% for a in result.relationships.predecessor %}
          {{ display_area(a) }}
          {% endfor %}
          </div>
        </td>
      </tr>
      {% endif %}
      {% if result.relationships.successor %}
      <tr>
        <td>Successor area{% if result.relationships.successor|length > 1 %}s{% endif %}</td>
        <td>
          <div class="field is-grouped is-grouped-multiline">
          {% for a in result.relationships.successor %}
          {{ display_area(a) }}
          {% endfor %}
          </div>
        </td>
      </tr>
      {% endif %}

      <tr>
        <td>Start date</td>
        <td>{{ "{:%B %Y}".format(result.attributes.date_start) }}</td>
      </tr>

      {% if result.attributes.date_end %}
      <tr>
        <td>End date</td>
        <td>{{ "{:%B %Y}".format(result.attributes.date_end) }}</td>
      </tr>
      {% endif %}

      {% if result.attributes.owner %}
      <tr>
        <td>Owner</td>
        <td>{{ result.attributes.owner}}</td>
      </tr>
      {% endif %}
      {% if result.attributes.equivalents %}
      <tr>
        <td>Equivalent codes</td>
        <td>
          <div class="field is-grouped is-grouped-multiline">
          {% for k, v in result.attributes.equivalents.items() %}
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-dark">{{ k }}</span>
                <span class="tag is-info">{{ v }}</span>
              </div>
            </div>
          {% endfor %}
          </div>
        </td>
      </tr>
      {% endif %}
      {% if result.attributes.statutory_instrument_title %}
      <tr>
        <td>Statutory instrument</td>
        <td>
          {{ result.attributes.statutory_instrument_title}}
          {% if result.attributes.statutory_instrument_id %}
          ({{result.attributes.statutory_instrument_id}})
          {% endif %}
        </td>
      </tr>
      {% endif %}
    </table>
    <br>
  </div>
</div>
{% if example_postcodes or result.attributes.has_boundary %}
<script type="text/javascript">
  var postcodes = [
    {% for p in example_postcodes %}{{ p.attributes.location|tojson }},
    {% endfor %}];
  var geojson = {{ url_for('areas.get_area', areacode=result.id, filetype='geojson')|tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
{% endif %}
{% endblock %}
