{% from '_utils.html' import info_block, display_area %}
{% set title = "{} - Area".format(result.attributes.name) %}
{% extends "base.html" %}
{% from '_pagination.html' import pagination %}
{% block content %}
<div class="cf">
  <div class="fl w-third-l w-100 pr4">
    {% if result.attributes.description %}
    {% call info_block("Description") %}
      <p>{{ result.attributes.description }}</p>
    {% endcall %}
    {% endif %}

    {% if result.attributes.full_name != result.attributes.name %}
    {% call info_block("Full name") %}
      {{ result.attributes.full_name }}
    {% endcall %}
    {% endif %}

    {% call info_block("Code") %}
      <code>{{ result.id }}</code>
    {% endcall %}

    {% if result.attributes.entities %}
    {% call info_block("Code formats") %}
      <ul class="list pa0 ma0">
      {% for i in result.attributes.entities %}
        <li class="mb1"><code>{{ i }}XXXXXX</code></li>
      {% endfor %}
      </ul>
    {% endcall %}
    {% endif %}
  </div>
  <div class="fl w-two-thirds-l w-100">
    <h3 class="f3-ns f4 header-font pa0 ma0">Areas</h3>
    {% if result.attributes.count_areas <= result.relationships.areas|length %}
    <p class="subtitle">Showing all {{ "{:,.0f}".format(result.attributes.count_areas) }} areas</p>
    {% else %}
    <p class="subtitle">Showing {{ "{:,.0f}".format(result.relationships.areas|length) }} of {{ "{:,.0f}".format(result.attributes.count_areas) }} areas</p>
    {# <p class="subtitle">Showing from {{ "{:,.0f}".format(result.get("meta", {}).get("pagination", {}).get("from",0) + 1) }} to {{ "{:,.0f}".format(min([result.get("meta", {}).get("pagination", {}).get("from",0) + result.get("meta", {}).get("pagination", {}).get("size",100), result["data"]["attributes"]["count_areas"]])) }} of {{ "{:,.0f}".format(result["data"]["attributes"]["count_areas"]) }}</p> #}
    {% endif %}
    <ul class="">
      {% for i in result.relationships.areas if not i.id.endswith('999999') %}
        <li class="pa0 mv3">
          {{ display_area(i, hide_areatype=true) }}
        </li>
      {% endfor %}
    </ul>
    {{ pagination(nav) }}
  </div>
</div>
<section class="section section pa3 bg-light-gray mt4 f6">
  <h2 class="f4-ns f4 header-font ma0">
    <a class="near-black no-underline dim" href="{{ url_for('areatypes.all') }}">Other areatypes</a>
  </h2>
  {% include "_areatypes.html" %}
</section>
{% endblock %}