{% from '_utils.html' import info_block, display_area, area_loop %}

{% set title = "{} - <code>{}</code>".format(result.attributes.name, result.id) %}
{% if result.attributes.active %}
{% set subtitle = result.relationships.areatype.attributes.name %}
{% else %}
{% set subtitle = "<span class='bg-red white pa2 mt2 dib'>INACTIVE</span> {}".format(result.relationships.areatype.attributes.name) %}
{% endif %}
{% set example_postcodes = result.relationships.example_postcodes %}
{% extends "base.html" %}

{% block headscripts %}
{% include "_leaflet.html" %}
{% endblock %}

{% block content %}
<div class="cf">
  <div class="fl w-third-l w-100 pr4 f5">
    {% if result.attributes.has_boundary %}
    <div class="mb3">
      <a href="{{ url_for('areas.get_area_boundary', areacodes=result.id) }}" class="link blue underline-hover">Boundary (geoJSON)</a>
    </div>
    {% endif %}
    
    {% if result.relationships.successor %}
    {% call info_block("Successor area") %}
      {{ area_loop(result.relationships.successor, result.id)}}
    {% endcall %}
    {% endif %}

    {% if example_postcodes %}
    {% call info_block("Example postcodes") %}
      <ul class="list pa0 ma0">
        {% for i in example_postcodes[0:5] %}
        <li class="dib">
          <code class="pa1 code mr2">
          <a href='/postcodes/{{ i["id"] }}.html' class='near-black link underline-hover'>{{ i.id }}</a>
          </code>
        </li>
        {% endfor %}
      </ul>
    {% endcall %}
    {% endif %}
    
    {% if result.relationships.parent %}
    {% call info_block("Parent area") %}
      {{ display_area(result.relationships.parent) }}
    {% endcall %}
    {% endif %}
    
    {% if result.relationships.predecessor %}
    {% call info_block("Predecessor area") %}
      {{ area_loop(result.relationships.predecessor, result.id)}}
    {% endcall %}
    {% endif %}



    {% call info_block("Start date") %}
        {{ "{:%B %Y}".format(result.attributes.date_start) }}
    {% endcall %}

    {% if result.attributes.date_end %}
    {% call info_block("End date") %}
        {{ "{:%B %Y}".format(result.attributes.date_end) }}
    {% endcall %}
    {% endif %}

    {% if result.attributes.owner %}
    {% call info_block("Owner") %}
        {{ result.attributes.owner}}
    {% endcall %}
    {% endif %}

    {% if result.attributes.equivalents %}
    {% call info_block("Equivalent codes") %}
          <ul class="list ma0 pa0">
          {% for k, v in result.attributes.equivalents.items() %}
            <li><strong>{{ k }}</strong>: <code class="pv1 ph2 bg-light-gray code">{{ v }}</code></li>
          {% endfor %}
          </ul>
    {% endcall %}
    {% endif %}

    {% if result.attributes.statutory_instrument_title %}
    {% call info_block("Statutory instrument") %}
          {{ result.attributes.statutory_instrument_title}}
          {% if result.attributes.statutory_instrument_id %}
          ({{result.attributes.statutory_instrument_id}})
          {% endif %}
    {% endcall %}
    {% endif %}
    
    {% call info_block("External links") %}
      <ul class="list pa0 ma0">
        <li><a href="http://statistics.data.gov.uk/doc/statistical-geography/{{ result.id }}">ONS Geography Linked data</a></li>
        <li><a href="https://mapit.mysociety.org/area/{{ result.id }}.html">MapIt (mySociety)</a></li>
      </ul>
    {% endcall %}
    
  </div>
  
  <div class="fl w-two-thirds-l w-100">
    {% if result.attributes.has_boundary or example_postcodes %}
    <figure class="ma0">
      <div id="postcode-map" style="height:500px;"></div>
    </figure>
    <br>
    {% endif %}

    
    
    {% if result.relationships.children and result.attributes.child_count %}
    {% call info_block("Child areas - {} areas".format(result.attributes.child_count)) %}
      <ul class="list pa0 ma0">
      {% for k, v in result.attributes.child_counts.items() %}
        <li>
          <h4 class="b f5 i">{{ area_types[k].name }} <span class="gray normal">{{ "{:,.0f}".format(v) }} areas<span></h4>
          {{ area_loop(result.relationships.children[k], result.id)}}
        </li>
      {% endfor %}
      </ul>
    {% endcall %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block bodyscripts %}
{% if example_postcodes or result.attributes.has_boundary %}
<script type="text/javascript">
  var postcodes = [
    {% for p in example_postcodes %}{{ p.attributes.location|tojson }},
    {% endfor %}];
  var geojson = {{ url_for('areas.get_area_boundary', areacodes=result.id)|tojson }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endif %}
{% endblock %}
