{% set default_title = 'Find that Postcode' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,700|Raleway:400,700">
    <link rel="stylesheet" href="https://dkane.net/theme/css/style.css" />
    <link rel="stylesheet" href="https://dkane.net/theme/css/pygment.css" />
    {% block headscripts %}
    {% endblock %}
    <title>{{ (title or default_title)|striptags }}</title>
  </head>
  <body class="home w-100 sans-serif near-black base-font bg-wavy">
    <header class="body header-font normal ph3 ph5-ns pt3 {% if frontpage %}pt5-ns pb5{% else %}pb4{% endif %} moon-gray">
      <div class="fr f3-ns mt1 mr2 w-100 w-auto-ns tr pb3">
          <a href="{{ url_for('about') }}" class="white logo underline double underline-yellow">About</a>
      |    <a href="{{ url_for('search.search_index') }}" class="white logo underline double underline-yellow">Search</a>
      |    <a href="{{ url_for('index') }}#api" class="white logo underline double underline-yellow">API</a>
      </div>
      <h1 class="{% if frontpage %}f-subheadline-ns{% endif %} tracked-tight f1 lh-title mv0 logo normal">
        <a href="{{ url_for('index') }}" class="link moon-gray underline-yellow underline">
          {{ default_title }}
        </a>
      </h1>
    </header>
    <main class="ph0 bg-white cf">
      <header class="fl w-100 ph3 ph5-ns entry-content lh-copy f4">
        {% if (heading or title) not in [None, default_title] and (heading or title) %}
        <h2 class="f2-ns mt4 mb0 f3 lh-solid normal">
          {{ (heading or title)|safe }}
        </h2>
        {% if subtitle %}
        <h3 class="f3-ns f4 lh-solid mv0 normal gray">
        {{ subtitle|safe }}
        </h3>
        {% endif %}
        {% endif %}
      </header>
      <section id="content" class="fl w-100 ph3 pv5 ph5-ns lh-copy f4">
        {% block content %}{% endblock %}
      </section>
    </main>
    <footer id="contentinfo" class="body ph3 ph5-ns db mv5 moon-gray">
        © {{now.year}} <a href="https://drkane.net/" class="link yellow">David Kane</a>
          <p>
            <a href="https://www.ons.gov.uk/methodology/geography/licences" class="link yellow">Postcode data from ONS used under Open Government License</a><br> 
            Contains OS data © Crown copyright and database right {{now.year}} <br>
            Contains Royal Mail data © Royal Mail copyright and database right {{now.year}} <br> 
            Contains National Statistics data © Crown copyright and database right {{now.year}}
          </p>
    </footer>
    {% block bodyscripts %}
    {% endblock %}
  </body>
</html>
