{% set default_title = 'Find that Postcode' %}
<!DOCTYPE html>
<html>
  <head>
		<link href="{{ url_for('static', filename='bulma.min.css') }}" rel="stylesheet" type="text/css" />
    {% block headscripts %}
    {% endblock %}
    <title>{{ title or default_title }}</title>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/">{{ default_title }}</a>
          </h1>
        </div>
      </div>
    </section>
    {% if (heading or title) not in [None, default_title] and (heading or title) %}
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ heading or title }}
          </h1>
          {% if subtitle %}
          <h2 class="subtitle">
            {{ subtitle|safe }}
          </h2>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong><a href="{{ url_for('index') }}">findthatpostcode</a></strong> by <a href="https://drkane.co.uk/">David Kane</a>.
          </p>
          <p>
            <a href="https://www.ons.gov.uk/methodology/geography/licences">Postcode data from ONS used under Open Government License</a><br> 
            Contains OS data © Crown copyright and database right {{now.year}} <br>
            Contains Royal Mail data © Royal Mail copyright and database right {{now.year}} <br> 
            Contains National Statistics data © Crown copyright and database right {{now.year}}
          </p>
        </div>
      </div>
    </footer>
    {% block bodyscripts %}
    {% endblock %}
  </body>
</html>
