{# {% if result["data"]["type"]=="points" %}
  {% postcode = included[("postcodes", result["data"]["relationships"]["nearest_postcode"]["data"]["id"])] %}
  {% title = 'Point {:,.5f}, {:,.5f}'.format(result["data"]["attributes"]["lat"], result["data"]["attributes"]["lon"]) %}
  {% subtitle = 'Closest postcode to point {0:,.5f}, {1:,.5f} is <a href="{2}">{3}</a>.<br>Centre of {3} is {4:,.1f} meters away.'.format(result["data"]["attributes"]["lat"], result["data"]["attributes"]["lon"], postcode["links"]["html"], postcode["id"], result["data"]["attributes"]["distance_from_postcode"]) %}
{% else %}
% end #}
{% set title = 'Postcode {}'.format(result.id) %}
{% set subtitle = 'No longer used' if result.attributes.doterm else '' %}
{% set includes = ['leaflet'] %}
{% extends 'base.html' %}
{% block content %}
<div class="columns">
  <div class="column">
    <div class="columns">
      {% if result.attributes.location %}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Latitude and Longitude</p>
          </header>
          <div class="card-content">
            <div class="content">
              <a href='https://tools.wmflabs.org/geohack/geohack.php?params={{ result.attributes.location["lat"] }};{{ result.attributes.location["lon"] }}'>{{ result.attributes.location.lat }}, {{ result.attributes.location.lon }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">OS Easting/Northing</p>
          </header>
          <div class="card-content">
            <div class="content">
              {{ result.attributes.oseast1m }}, {{ result.attributes.osnrth1m }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- static map -->
    {% if result.attributes.location %}
    <figure class="">
      <div id="postcode-map" style="height:500px;"></div>
    </figure>
    {% endif %}
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Technical details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table is-fullwidth">
            <tbody>
              <tr><td>7 character version of postcode</td><td><code>{{ result.attributes.pcd }}</code></td></tr>
              <tr><td>8 character version of postcode</td><td><code>{{ result.attributes.pcd2 }}</code></td></tr>
              <tr><td>Date introduced</td><td>{{ "{:%B %Y}".format(result.attributes.dointr) }}</td></tr>
              {% if result.attributes.doterm %}
              <tr><td>Date terminated</td><td>{{ "{:%B %Y}".format(result.attributes.doterm) }}</td></tr>
              {% endif %}
              <tr><td>Postcode user type</td><td>{{result.attributes.usertype }} ({{ other_codes.usertype[result.attributes.usertype] }})</td></tr>
              <tr><td>Grid reference positional quality indicator</td><td>{{result.attributes.osgrdind}} ({{ other_codes.osgrdind[result.attributes.osgrdind] }})</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="column">
    {% for i in key_area_types %}
    <h2 class="title is-4">{{ i[0] }} areas</h2>
    <table class="table is-fullwidth">
      <tbody>
      {% for key_area in i[1] %}
        {% for a in result.relationships.areas if a.relationships.areatype.attributes.abbreviation and a.relationships.areatype.attributes.abbreviation.lower() == key_area %}
        <tr>
          <td><span title="{{ a.relationships.areatype.id }}">{{ a.relationships.areatype.attributes.name }}</span></td>
          <td>
            {% if a.attributes.name %}
            <a href="{{ url_for('areas.get_area', areacode=a.id, filetype='html') }}">{{ a.attributes.name }}</a> <span class="tag is-pulled-right">{{ a.id }}</span>
            {% else %}
            <a href="{{ url_for('areas.get_area', areacode=a.id, filetype='html') }}">{{ a.id }}</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
    <h2 class="title is-4">Area classifications</h2>
    <table class="table is-fullwidth">
      <tbody>
        {% if result.attributes.oac11 %}
        <tr>
          <td><span title="oac11">Output area classification</span></td>
          <td>
              {{ result.attributes.oac11.supergroup }} &gt; <span class="tag is-pulled-right">{{ result.attributes.oac11.code[0] }}</span><br>
              {{ result.attributes.oac11.group }} &gt; <span class="tag is-pulled-right">{{ result.attributes.oac11.code[0:2] }}</span><br>
              {{ result.attributes.oac11.subgroup }} <span class="tag is-pulled-right">{{ result.attributes.oac11.code }}</span>
          </td>
        </tr>
        {% endif %}
        {% if result.attributes.ru11ind %}
        <tr>
          <td><span title="ru11ind">Rural/urban classification</span></td>
          <td>{{ result.attributes.ru11ind.description }}  <span class="tag is-pulled-right">{{ result.attributes.ru11ind.code }}</span></td>
        </tr>
        {% endif %}
        {% for a in result.relationships.areas if a.attributes.stats and a.attributes.stats.imd2019 %}
        {% set rank = a.attributes.stats.imd2019.imd_rank %}
        {% set total = other_codes.imd[result.attributes.ctry] %}
        <tr>
          <td><span title="imd">Index of multiple deprivation (2019)</span></td>
          <td>
            <p><strong>{{ "{:,.0f}".format(rank) }}</strong> out of {{ "{:,.0f}".format(total) }} lower super output areas in {{ result.attributes.ctry_name }} (where 1 is the most deprived LSOA).</p>
            <p><strong>{{ "{:.0%}".format( rank|float / total|float ) }}</strong> of LSOAs in {{ result.attributes.ctry.name }} are more deprived than this one.</p>
            {% if a.attributes.stats.imd2015 %}
            <p>In <strong>2015</strong> {{ "{:.0%}".format( a.attributes.stats.imd2015.imd_rank|float / total|float ) }}</strong> of LSOAs in {{ result.attributes.ctry.name }} were more deprived than this one.</p>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  var postcode_location = [{{ result.attributes["location"]["lat"] }},{{ result.attributes["location"]["lon"] }}]
  var mymap = L.map('postcode-map').setView(postcode_location, 11);
  var layer = new L.StamenTileLayer("toner").addTo(mymap);
  var marker = L.circleMarker(postcode_location, {radius: 5, fillOpacity: 0.8}).addTo(mymap);
</script>
{% endblock %}