a2wsgi
blinker
boto3
dictlib
ElasticMock
elasticsearch==7.8.1
fastapi[standard]
httpx
numpy<2
openpyxl
pyproj
pytest
pytest-mock
python-dotenv
python-multipart
requests
requests-cache
requests-mock
ruff
sentry-sdk[fastapi]
shapely
sqlite-utils
tqdm
ua-parser
boto3-stubs[s3]
elasticsearch-dsl==7.4.1