Flask
Flask-Cors
elasticsearch==7.8.1
gunicorn
requests
requests-cache
tqdm
python-dotenv
dictlib
ruff
ElasticMock
pytest
requests-mock
blinker
sqlite-utils
ua-parser
boto3
sentry-sdk[flask]
pyproj
shapely
numpy<2
Flask-Limiter
openpyxl
fastapi[standard]