% rebase("base.html", title='Area types')
<div class="columns">
% for i in key_area_types:
  <div class="column">
    <nav class="panel">
      <p class="panel-heading">{{ i[0] }} areas</p>
      % for area in i[1]:
        % for area_type in area_types:
          % if area_type[0] == area:
          <a href="/areatypes/{{ area_type[0] }}.html" class="panel-block">{{ area_type[1] }} &nbsp;
            % if area in area_counts:
            <small> [{{ "{:,.0f}".format(area_counts[area]) }}]</small>
            % end
          </a>
          % end
        % end
      % end
    </nav>
  </div>
% end
</div>
<br>
