% rebase("base.html", title='%s - Area' % (area_type[1],))
<div class="columns">
  <div class="column">
    <h2 class="title is-4">Description</h2>
    <p>{{ area_type[3] }}</p>
    % if area_type[2]!=area_type[1]:
    <br>
    <p><strong>Full name:</strong> {{ area_type[2] }}</p>
    % end
    <br>
    <p><strong>Code:</strong> <code>{{ area_type[0] }}</code></p>
  </div>
  <div class="column">
    <h3 class="title">Areas</h3>
    % if count_areas <= size:
    <p class="subtitle">Showing all {{ "{:,.0f}".format(count_areas) }}</p>
    % else:
    <p class="subtitle">Showing from {{ "{:,.0f}".format(from_ + 1) }} to {{ "{:,.0f}".format(min([from_ + size, count_areas])) }} of {{ "{:,.0f}".format(count_areas) }}</p>
    % end
    <table class="table">
      <tbody>
      % for i in result:
        <tr>
          <td><a href="/areas/{{ i["_id"] }}.html">{{ i["_source"]["name"] }}</a></td>
          <td><a href="/areas/{{ i["_id"] }}.html">{{ i["_id"] }}</a></td>
        </tr>
      % end
      </tbody>
    </table>
    % include('pagination.html', pagination=pagination)
  </div>
</div>
