% rebase("base.html", title='%s - Area' % (result["data"]["attributes"]["name"],))
<div class="columns">
  <div class="column">
    <h2 class="title is-4">Description</h2>
    <p>{{ result["data"]["attributes"]["description"] }}</p>
    % if result["data"]["attributes"]["full_name"]!=result["data"]["attributes"]["name"]:
    <br>
    <p><strong>Full name:</strong> {{ result["data"]["attributes"]["full_name"] }}</p>
    % end
    <br>
    <p><strong>Code:</strong> <code>{{ result["data"]["id"] }}</code></p>
  </div>
  <div class="column">
    <h3 class="title">Areas</h3>
    % if result["data"]["attributes"]["count_areas"] <= result.get("meta", {}).get("pagination", {}).get("size",100):
    <p class="subtitle">Showing all {{ "{:,.0f}".format(result["data"]["attributes"]["count_areas"]) }}</p>
    % else:
    <p class="subtitle">Showing from {{ "{:,.0f}".format(result.get("meta", {}).get("pagination", {}).get("from",0) + 1) }} to {{ "{:,.0f}".format(min([result.get("meta", {}).get("pagination", {}).get("from",0) + result.get("meta", {}).get("pagination", {}).get("size",100), result["data"]["attributes"]["count_areas"]])) }} of {{ "{:,.0f}".format(result["data"]["attributes"]["count_areas"]) }}</p>
    % end
    <table class="table is-fullwidth">
      <tbody>
      % for i in result["data"]["relationships"]["areas"]["data"]:
        % for area in [area for area in result["included"] if area["id"]==i["id"] and i["id"].endswith("999999")==False]:
        <tr>
          <td><a href="/areas/{{ area["id"] }}.html">{{ area["attributes"]["name"] }}</a></td>
          <td><a href="/areas/{{ area["id"] }}.html">{{ area["id"] }}</a></td>
        </tr>
        % end
      % end
      </tbody>
    </table>
    % include('pagination.html', pagination=result["links"])
  </div>
</div>
