<!DOCTYPE html>
<html>
  <head>
		<link href="/static/bulma.css" rel="stylesheet" type="text/css" />
    <title>Area types</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title is-1">Search: {{q}}</h1>
      <form>
        <input type="text" value="{{q}}" name="q" />
        <input type="submit" value="search" />
      </form>
      <div class="columns">
        <div class="column">
          % if result_count <= size:
          <h2 class="title">Showing all {{ "{:,.0f}".format(result_count) }} results</h2>
          % else:
          <h2 class="title">Showing from {{ "{:,.0f}".format(from_ + 1) }} to {{ "{:,.0f}".format(min([from_ + size, result_count])) }} of {{ "{:,.0f}".format(result_count) }} results</h2>
          % end

          <table class="table">
            <tbody>
            % for i in results:
              <tr>
                <td>
                  <a href="/area/{{ i["id"] }}.html">{{ i["name"] }}</a>
                </td>
                <td>
                  % for a in area_types:
                    % if a[0]==i["type"]:
                    <span class="tag">{{ a[1] }}</span>
                    % end
                  % end
                </td>
              </tr>
            % end
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
