% title = '%s - %s' % (area_type[1], area)
% subtitle = '<a href="/areatype/%s.html">%s</a> - %s' % (area_type[0], area_type[1], area)
% rebase("base.html", title=title, subtitle=subtitle, heading=result["name"], includes=['leaflet','jquery'])
<h2 class="subtitle">
  % if result["name_welsh"]!=result["name"]:
  ({{result["name_welsh"]}})
  % end
</h2>
<div class="columns">
  <div class="column">
    <figure>
      <div id="postcode-map" style="height:500px;"></div>
    </figure>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Technical details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            % for i in [i for i in result if i not in ["examples", "name", "type", "name_welsh", "type_name", "sort_order"]]:
            <tr>
              <td>{{i}}</td>
              <td>{{result[i]}}</td>
            </tr>
            % end
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h3 class="title">Example postcodes</h3>
    % for i in result["examples"]:
    <div class="card">
      <div class="card-content">
        <p class="content"><a href="/postcode/{{ i["postcode"] }}.html">{{ i["postcode"] }}</a></p>
      </div>
    </div>
    <br>
    % end
  </div>
</div>

<script type="text/javascript">
  var postcode_location = [{{ result["examples"][0]["location"]["lat"] }},{{ result["examples"][0]["location"]["lon"] }}];
  var mymap = L.map('postcode-map').setView(postcode_location, 9);
  var layer = new L.StamenTileLayer("toner").addTo(mymap);
  var markers = L.featureGroup();
  % for i in result["examples"]:
  var marker = L.marker([{{ i["location"]["lat"] }},{{ i["location"]["lon"] }}]).addTo(markers);
  marker.bindPopup("<a href=\"/postcode/{{i["postcode"]}}.html\">{{i["postcode"]}}</a>", {autoClose: false}).openPopup();
  % end
  markers.addTo(mymap);
  var bounds = markers.getBounds()
  mymap.fitBounds(bounds);
  //console.log(markers.getBounds());
  $.getJSON('/area/{{area}}.geojson', function(boundary){
    boundary_json = L.geoJSON(boundary).addTo(mymap);
    console.log(boundary_json.getBounds());
    bounds = boundary_json.getBounds()
    mymap.fitBounds(bounds);
  });
</script>
