% setdefault("q", "")
% rebase("base.html", title='Search areas - %s' % (q,))
<form>
  <div class="field has-addons">
    <p class="control is-expanded">
      <input class="input is-large" type="text" placeholder="Area to search for" value="{{ get("result",{}).get("meta",{}).get("q","") }}" name="q" />
    </p>
    <p class="control">
      <input type="submit" class="button is-primary is-large" value="search" />
    </p>
  </div>
</form>
</div>
</section>
<section class="section">
  <div class="container">
  % if get("result",{}).get("meta",{}).get("q"):
    <div class="columns">
      <div class="column">
      % if len(result.get("data",[]))>0:
        % if result["meta"]["result_count"] <= result["meta"]["size"]:
        <h2 class="title">Showing all {{ "{:,.0f}".format(result["meta"]["result_count"]) }} results</h2>
        % else:
        <h2 class="title">Showing from {{ "{:,.0f}".format(result["meta"]["from"] + 1) }} to {{ "{:,.0f}".format(min([result["meta"]["from"] + result["meta"]["size"], result["meta"]["result_count"]])) }} of {{ "{:,.0f}".format(result["meta"]["result_count"]) }} results</h2>
        % end
        <table class="table">
          <tbody>
          % for i in result.get("data",[]):
            <tr>
              <td>
                <a href="{{ i["links"]["html"] }}">{{ i["attributes"]["name"] }}</a>
              </td>
              <td>
                % areatype_id = (i["relationships"]["areatype"]["data"]["type"], i["relationships"]["areatype"]["data"]["id"])
                % if areatype_id in included:
                <span class="tag">{{ included[areatype_id]["attributes"]["name"] }}</span>
                % end
              </td>
            </tr>
          % end
          </tbody>
        </table>
        % #include('pagination.html', pagination=pagination)
        % else:
        <h2 class="title">No results found</h2>
        % end
      </div>
    </div>
  % end
