% rebase("base.html")
<div class="content">
</div>
<section class="section">
  <div class="columns">
    <div class="column">
      <h2 class="title">Search by postcode</h2>
    </div>
    <div class="column">
      <h2 class="title"><a href="/areas/search.html">Search areas</a></h2>
    </div>
    <div class="column">
      <h2 class="title">Find a postcode</h2>
      <h3 class="subtitle">Nearest to a point</h3>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <form action="/postcodes/redirect">
        <div class="field has-addons">
          <p class="control">
            <input class="input is-large" type="text" name="postcode" placeholder="AB12 3CD">
          </p>
          <p class="control">
            <input type="submit" class="button is-info is-large" value="Search" />
          </p>
        </div>
      </form>
    </div>
    <div class="column">
      <form action="/areas/search.html">
        <div class="field has-addons">
          <p class="control">
            <input class="input is-large" type="text" name="q" placeholder="Summershire">
          </p>
          <p class="control">
            <input type="submit" class="button is-info is-large" value="Search" />
          </p>
        </div>
      </form>
    </div>
    <div class="column">
      <form action="/points/redirect">
        <div class="field has-addons">
          <p class="control">
            <input class="input is-large" type="text" name="lat" id="lat" placeholder="Latitude">
          </p>
          <p class="control">
            <input class="input is-large" type="text" name="lon" id="lon" placeholder="Longitude">
          </p>
          <p class="control">
            <input type="submit" class="button is-info is-large" id="point_search" value="Search" />
          </p>
        </div>
      </form>
      <button class="button is-text" id="get_current_latlong" onclick="get_latlon()">Use your location</button>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <h2 class="title"><a href="/addtocsv">Add data to a CSV file</a></h2>
      <p>Upload a CSV with a column of postcode data and add information about those postcodes
      to it. Information includes latitude/longitude and areas.</p><br>
      <a class="button is-info is-medium" href="/addtocsv">Upload a CSV</a>
    </div>
    <div class="column is-4">
      <h2 class="title"><a href="#api">Use the API</a></h2>
      <p>The API provides programmatic access to the postcode data, using the
      <a href="http://jsonapi.org/">JSON api</a> specification.</p><br>
      <a class="button is-info is-medium is-outlined" href="#api">Use the API</a>
    </div>
  </div>
</section>
<section class="section">
  <h2 class="title"><a href="/areatypes.html">Browse by area type</a></h2>
  % include("areatypes.html", rebase_=False)
</section>
<section class="section" id="api">
  <h2 class="title">Use the API</h2>
  <div class="columns">
    <div class="column">
      <div class="content">
        <p>The API provides programmatic access to the postcode data, using the <a href="http://jsonapi.org/">JSON api</a> specification.</p>
        <p>The <code>.json</code> at the end of the url is optional, requests will return json by default unless <code>.html</code> is added.</p>
        <p><a href="https://en.wikipedia.org/wiki/ONS_coding_system#Current_GSS_coding_system">ONS GSS codes</a> are used for area IDs.</p>
      </div>
      <div class="content is-medium">
        <h3 class="title is-4">Example requests</h3>
        <table>
          <tr>
            <td>Get data on a postcode</td>
            <td><code>/postcodes/AB12+3CD.json</code></td>
            <td><a href="/postcodes/SW1A+1AA">Example</a></td>
            <td><a href="/postcodes/SW1A+1AA.html">Example HTML</a></td>
          </tr>
          <tr>
            <td>Get data about a postcode nearest<br>to a latitude, longitude point</td>
            <td><code>/points/51.501009,-0.141588.json</code></td>
            <td><a href="/points/51.501009,-0.141588">Example</a></td>
            <td><a href="/points/51.501009,-0.141588.html">Example HTML</a></td>
          </tr>
          <tr>
            <td>Get data about an area<br><small>Includes 5 random postcodes from the area</small></td>
            <td><code>/areas/E01000001.json</code></td>
            <td><a href="/areas/E14000639">Example</a></td>
            <td><a href="/areas/E14000639.html">Example HTML</a></td>
          </tr>
          <tr>
            <td>Get an area's boundaries as geojson<br><small>NB not available for all areas</small></td>
            <td><code>/areas/E01000001.geojson</code></td>
            <td colspan="2"><a href="/areas/E14000639.geojson">Example</a></td>
          </tr>
          <tr>
            <td>Search for areas containing a string</td>
            <td><code>/areas/search.json?q=search+term</code></td>
            <td><a href="/areas/search.json?q=Westmister">Example</a></td>
            <td><a href="/areas/search.html?q=Westmister">Example HTML</a></td>
          </tr>
          <tr>
            <td>Get information about a type of area<br><small>(local authority, parliamentary constituency, etc)</small></td>
            <td><code>/areatypes/pcon.json</code></td>
            <td><a href="/areas/E14000639">Example</a></td>
            <td><a href="/areas/E14000639.html">Example HTML</a></td>
          </tr>
          <tr>
            <td>Get information about all types of area</td>
            <td><code>/areatypes.json</code></td>
            <td><a href="/areatypes">Area types</a></td>
            <td><a href="/areatypes.html">HTML</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
function get_latlon(){
  if (!navigator.geolocation){
    document.getElementById("get_current_latlong").style.visibility='hidden';
    return;
  }

  document.getElementById("get_current_latlong").style.visibility='visible';

  navigator.geolocation.getCurrentPosition(function(position) {
    console.log(position.coords.latitude, position.coords.longitude)
    document.getElementById("lat").value = position.coords.latitude;
    document.getElementById("lon").value = position.coords.longitude;
    document.getElementById("point_search").click();
  });
}
</script>
