% if result["data"]["type"]=="points":
  % postcode = included[("postcodes", result["data"]["relationships"]["nearest_postcode"]["data"]["id"])]
  % title = 'Point {:,.5f}, {:,.5f}'.format(result["data"]["attributes"]["lat"], result["data"]["attributes"]["lon"])
  % subtitle = 'Closest postcode to point {0:,.5f}, {1:,.5f} is <a href="{2}">{3}</a>.<br>Centre of {3} is {4:,.1f} meters away.'.format(result["data"]["attributes"]["lat"], result["data"]["attributes"]["lon"], postcode["links"]["html"], postcode["id"], result["data"]["attributes"]["distance_from_postcode"])
% else:
  % postcode = result["data"]
  % title = 'Postcode %s' % (postcode["id"],)
  % subtitle = ""
    % if postcode["attributes"]["doterm"]:
    % subtitle = 'No longer used since %s' % postcode["attributes"]["doterm"]
    % end
% end
% rebase("base.html", title=title, subtitle=subtitle, includes=['leaflet'])
<div class="columns">
  <div class="column">
    <div class="columns">
      % if postcode["attributes"]["location"]:
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Latitude and Longitude</p>
          </header>
          <div class="card-content">
            <div class="content">
              <a href="https://tools.wmflabs.org/geohack/geohack.php?params={{ postcode["attributes"]["location"]["lat"] }};{{ postcode["attributes"]["location"]["lon"] }}">{{ postcode["attributes"]["location"]["lat"] }}, {{ postcode["attributes"]["location"]["lon"] }}</a>
            </div>
          </div>
        </div>
      </div>
      % end
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">OS Easting/Northing</p>
          </header>
          <div class="card-content">
            <div class="content">
              {{ postcode["attributes"]["oseast1m"] }}, {{ postcode["attributes"]["osnrth1m"] }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- static map -->
    % if postcode["attributes"]["location"]:
    <figure class="">
      <div id="postcode-map" style="height:500px;"></div>
    </figure>
    % end
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Technical details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table">
            <tbody>
              <tr><td>7 character version of postcode</td><td><pre>{{ postcode["attributes"]["pcd"] }}</pre></td></tr>
              <tr><td>8 character version of postcode</td><td><pre>{{ postcode["attributes"]["pcd2"] }}</pre></td></tr>
              <tr><td>Date introduced</td><td>{{ postcode["attributes"]["dointr"] }}</td></tr>
              % if postcode["attributes"]["doterm"]:
              <tr><td>Date terminated</td><td>{{ postcode["attributes"]["doterm"] }}</td></tr>
              % end
              <tr><td>Postcode user type</td><td>{{postcode["attributes"]["usertype"] }} ({{ other_codes["usertype"][postcode["attributes"]["usertype"]] }})</td></tr>
              <tr><td>Grid reference positional quality indicator</td><td>{{postcode["attributes"]["osgrdind"]}} ({{ other_codes["osgrdind"][postcode["attributes"]["osgrdind"]] }})</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="column">
    % areas = {included[("areas", i["id"])]["relationships"]["areatype"]["data"]["id"]:included[("areas", i["id"])] for i in postcode["relationships"]["areas"]["data"] if ("areas", i["id"]) in included}
    % areatypes = {included[i]["id"]:included[i] for i in included if i[0]=="areatypes"}
    <!--<pre>{{areas}}</pre>-->
    % for i in key_area_types:
    <h2 class="title">{{ i[0] }} areas</h2>
    <table class="table">
      <tbody>
      % for area in i[1]:
        % if area in areas and area in areatypes and not areas[area]["id"].endswith("999999"):
        <tr>
            <td><span title="{{ areatypes[area]["id"] }}">{{ areatypes[area]["attributes"]["name"] }}</span></td>
            <td>
              % if areas[area]["attributes"]["name"]=="":
              <a href="{{ areas[area]["links"]["html"] }}">{{ areas[area]["id"] }}</a>
              % else:
              <a href="{{ areas[area]["links"]["html"] }}">{{ areas[area]["attributes"]["name"] }}</a> <span class="tag is-pulled-right">{{ areas[area]["id"] }}</span>
              % end
            </td>
          </tr>
        % end
      % end
      </tbody>
    </table>
    % end
    <h2 class="title">Area classifications</h2>
    <table class="table">
      <tbody>
        % if areas.get("oac11"):
        <tr>
          <td><span title="oac11">Output area classification</span></td>
          <td>
              {{ areas["oac11"]["attributes"]["Supergroup"] }} &gt; <span class="tag is-pulled-right">{{ areas["oac11"]["id"][0] }}</span><br>
              {{ areas["oac11"]["attributes"]["Group"] }} &gt; <span class="tag is-pulled-right">{{ areas["oac11"]["id"][0:2] }}</span><br>
              {{ areas["oac11"]["attributes"]["Subgroup"] }} <span class="tag is-pulled-right">{{ areas["oac11"]["id"] }}</span>
          </td>
        </tr>
        % end
        % if areas.get("ru11ind"):
        <tr>
          <td><span title="ru11ind">Rural/urban classification</span></td>
          <td>{{ areas["ru11ind"]["attributes"]["name"] }}  <span class="tag is-pulled-right">{{ areas["ru11ind"]["id"] }}</span></td>
        </tr>
        % end
        % if areas.get("ctry") and postcode["attributes"]["imd"] and other_codes["imd"][areas["ctry"]["id"]]:
        <tr>
          <td><span title="imd">Index of multiple deprivation</span></td>
          <td>
            <p><strong>{{ "{:,.0f}".format(postcode["attributes"]["imd"]) }}</strong> out of {{ "{:,.0f}".format(other_codes["imd"][areas["ctry"]["id"]]) }} lower super output areas in {{ areas["ctry"]["attributes"]["name"]}} (where 1 is the most deprived LSOA).</p>
            <p><strong>{{ "{:.0%}".format( float(postcode["attributes"]["imd"]) / float(other_codes["imd"][areas["ctry"]["id"]]) ) }}</strong> of LSOAs in {{ areas["ctry"]["attributes"]["name"]}} are more deprived than this one.</p>
          </td>
        </tr>
        % end
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  var postcode_location = [{{ postcode["attributes"]["location"]["lat"] }},{{ postcode["attributes"]["location"]["lon"] }}]
  var mymap = L.map('postcode-map').setView(postcode_location, 11);
  var layer = new L.StamenTileLayer("toner").addTo(mymap);
  var marker = L.marker(postcode_location).addTo(mymap);
</script>
