{# {% areatype = included[("areatypes", result["data"]["relationships"]["areatype"]["data"]["id"])] %}
{% title = '%s - %s' % (areatype["attributes"]["name"], result["data"]["id"]) %}
{% subtitle = '<a href="/areatypes/%s.html">%s</a> - %s' % (areatype["id"], areatype["attributes"]["name"], result["data"]["id"]) %}
{% if result["data"]["attributes"]["name_welsh"]!=result["data"]["attributes"]["name"]: %}
{% subtitle = '%s (%s)' % (subtitle, result["data"]["attributes"]["name_welsh"]) %}
{% end %} #}
{# {% rebase("base.html", title=title, subtitle=subtitle, heading=result["data"]["attributes"]["name"], includes=['leaflet']) %} #}
{% set includes = ['leaflet'] %}
{% set title = "{} - {}".format(result.attributes.name, result.id) %}
{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column">
    <figure>
      <div id="postcode-map" style="height:500px;"></div>
    </figure>
    <br>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Technical details</p>
      </header>
      <div class="card-content">
        <div class="content">
          <table class="table is-fullwidth">
            {% for k, v in result.attributes.items() %}
            {% if k not in ["examples", "name", "type", "name_welsh", "type_name", "sort_order", "has_boundary"] %}
            <tr>
              <td>{{k}}</td>
              <td>{{v}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    {% if "geojson" in result["links"] %}
    <div class="clearfix">
      <a href='{{ result["links"]["geojson"] }}' class="is-pulled-right">Boundary (geoJSON)</a>
    </div>
    {% endif %}
    <h3 class="title">Example postcodes</h3>
    <div class="card">
      <div class="card-content">
        {% for i in result.example_postcodes[0:5] %}
        <p class="content"><a href='/postcodes/{{ i["id"] }}.html'>{{ i.id }}</a></p>
        {% endfor %}
      </div>
    </div>
    <br>
  </div>
</div>
<script type="text/javascript">
  var postcode_location = [{{ result.example_postcodes[0].attributes.location.get("lat") }},{{ result.example_postcodes[0].attributes.location.get("lon") }}];
  var mymap = L.map('postcode-map').setView(postcode_location, 9);
  var layer = new L.StamenTileLayer("toner").addTo(mymap);
  L.osGraticule({ showLabels: false, lineColor: 'grey'}).addTo(mymap);
  var markers = L.featureGroup();
  {% for postcode in result.example_postcodes: %}
  var marker = L.circleMarker([
    {{ postcode.attributes.location.get("lat") }},
    {{ postcode.attributes.location.get("lon") }}
  ], { radius: 5, fillOpacity: 0.8 }).addTo(markers);
  marker.bindPopup("<a href=\"/postcodes/{{ postcode.id }}.html\">{{ postcode.id }}</a>", {autoClose: false}).openPopup();
  {% endfor %}
  markers.addTo(mymap);
  mymap.fitBounds(markers.getBounds());
  fetch('/areas/{{result.id}}.geojson')
    .then(function (response) {
      return response.json();
    }).then(function (geojson) {
      var boundary_json = L.geoJSON(geojson).addTo(mymap);
      mymap.fitBounds(boundary_json.getBounds());
    });
</script>
{% endblock %}
