{% set default_title = 'dk-postcodes' %}
<!DOCTYPE html>
<html>
  <head>
		<link href="/static/bulma.min.css" rel="stylesheet" type="text/css" />
    {% if 'leaflet' in includes %}
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <script type="text/javascript" src="/static/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>
    <script type="text/javascript" src="/static/leaflet/L.OSGraticule.js"></script>
    {% endif %}
    {% if 'papaparse' in includes %}
    <script src="/static/papaparse/papaparse.min.js"></script>
    {% endif %}
    <title>{{ title or default_title }}</title>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <a href="/">{{ default_title }}</a>
          </h1>
        </div>
      </div>
    </section>
    {% if (heading or title) not in [None, default_title] %}
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ heading or title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
      </div>
    </section>
    {% endif %}
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>dk-postcodes</strong> by <a href="https://drkane.co.uk/">David Kane</a>.
          </p>
          <p>
            <a href="https://www.ons.gov.uk/methodology/geography/licences">Postcode data from ONS used under Open Government License</a><br> 
            Contains OS data © Crown copyright and database right {{now.year}} <br>
            Contains Royal Mail data © Royal Mail copyright and database right {{now.year}} <br> 
            Contains National Statistics data © Crown copyright and database right {{now.year}}
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
